.Intro {
  display: flex;
  display: center;
  align-items: center;
  /* height: 100vh; */
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  /* height: 100vh; */
}

.i-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-family: "Rubik", sans-serif;
  /* margin-bottom: 30px; */
}

.i-name> :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name> :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name> :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}

.i-button {
  width: 6rem;
  height: 2rem;
  margin-right: 10px;
}

.i-icons {
  margin-top: 15rem;
  display: flex;
  gap: 0rem;
}

.i-icons>* {
  transform: scale(0.5);
}

.i-icons>*:hover {
  cursor: pointer;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 120vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 80%;
  height: 60%;
  border: solid 2px #fdc50f;
  border-radius: 6px;
  /* max-width: 600px;
  min-width: 300px; */
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

#modal-form {
  height: 45%;
  width: 100%;
}

#modal-feedback {
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.modal-container {
  width: 100%;
  height: 100%;
}

#modal-submit {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

#modal-submit:hover {
  margin-bottom: 2px;
  transition: 0 0;
}

/* right side styling */
.i-right {
  flex: 1;
}


/* .i-right > * {
  position: absolute;
  z-index: 1;
} */
/* 
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}
.i-right > :nth-child(4) {
  transform: scale(0.62);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
} */

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 1rem;
    /* height: 90vh; */
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }

  .i-right .blur {
    display: none;
  }

  .floating-div:nth-of-type(1) {
    /* display: none; */
    top: -7rem !important;
    ;
  }

  .i-button {
    margin-right: 100px;
    margin-bottom: 20px;
  }
}